#title {
    padding-top: 0;
    padding-bottom: 0;
}
.title-card {
    border: 0.2em solid black;
    margin: 0em;
    padding: 0em;
    margin-top: 1em;
}
.title-text {
    font-size: 3.5em;
    margin: 0em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#map{
    overflow:hidden;
    position:relative;
    height:0;
    border: 0.2em solid black;
}

.buttons {
    width: 36.45em;
    margin: auto;
}

.action-btn {
    width: 12em;
    display: inline-block;
    border: solid black;
}

@media only screen and (min-width: 370px) {
    body {
        width: 100vw;
        background-image: url("../images/Nashville-Classics-Downtown-Broadway-0524.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        width: 90%;
        max-width: 90%;
        margin: auto;
    }
    .buttons {
        width: 24em;
        margin: auto;
    }
    .action-btn {
        width: 7.5em;
        display: inline-block;
        /* font-size: 0.8em;/ */
    }
}
@media screen and (min-width: 600px) {
    body {
        background-image: none;
    }
}


#table-data {
    border: solid black;
    background-color: white;
}

#table-body {
    background-color: white;
}