body {
    background-image: linear-gradient(to bottom, #e30d58, #c71455, #ab1851, #8f1b4a, #741c42, #270614);
}

#title {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}
.title-card {
    border: 0.2em solid black;
    margin: 0em;
    padding: 0em;
    margin-top: 1em;
    background-color:#5FB2F2;
}
.title-text {
    margin: 0em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-family: "Righteous", cursive;
}

#map{
    overflow:hidden;
    position:relative;
    height:0;
    border: 0.2em solid black;
}

.button-card {
    width: 36.45em;
    margin: auto;
    text-align: center;
    border: 0.2em solid black;
    font-family: "Righteous", cursive;
    font-size: 1.2rem;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:#5FB2F2;
}
.buttons {
    width: 30%;
    margin: auto;
}

.action-btn {
    width: 12em;
    display: inline-block;
    border: 0.2em solid black;
}

@media only screen and (min-width: 370px) {
    .container {
        width: 90%;
        max-width: 90%;
        margin: auto;
    }
    .buttons {
        width: 24em;
        margin: auto;
    }
    .action-btn {
        width: 7.5em;
        display: inline-block;
    }
    #table-data {
        font-size: 1.5rem;
    }
}


#table-data {
    border: 0.2em solid black;
    background-color: white;
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    align-content: center;
    background-color:#5FB2F2;
}

#table-body {
    background-color: white;
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    background-color:#5FB2F2;
}

#midtown {
    background-color: rgba(255, 0, 0, 0.9);
    color: black;
    font-weight: bold;
    font-family: "Righteous", cursive;
}

#broadway {
    background-color: rgba(55, 85, 170, 0.9);
    color: black;
    font-weight: bold;
    font-family: "Righteous", cursive;
}

#east {
    background-color: rgba(0, 128, 0, 0.9);
    color: black;
    font-weight: bold;
    font-family: "Righteous", cursive;
}